body{
    margin : 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

.container{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form{
    text-align: left;
}
.label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}